body {
    font-family: Arial, Helvetica, sans-serif;
    background: grey;
}

a {
    text-decoration: none;
}

#main-header, #assignments-row1, #assignments-row2, #inclass {
    padding: 10px;
    margin: 5px;
}

#assignments-row1 section, #assignments-row2 section {
    background: mediumaquamarine;
    margin: 5px;
    padding: 10px;
}

#inclass {
    background: mediumaquamarine;
}

h1 ,h2 {
    text-align: center;
}

#main-header h2 {
    text-align: left;
}

#inclass h2 {
    text-align: center;
}

@media(min-width:900px) {
    #assignments-row1, #assignments-row2, .exercises {
        display: flex;
    }

    #assignments-row1 section, #assignments-row2 section, .exercises section {
        flex: 1;
    }
}